body {
  color: green;
  font-family; arial;
}

h1 {
  color: #61d4b3;
  font-family: 'Teko', sans-serif;
  font-size: 32px
  line-height: 100px;
}

h2 {
  color: #fdd365;
  font-family: Raleway;
  font-size: 20px
  line-height: 10px;
}

h3 {
  color: #fdd365;
  font-family: Raleway;
  font-size: 15px
  line-height: 10px;
}

p {
  color: #fd2eb3;
}

a {
  color: #42240c;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: blue;
}

img {
  border-radius: 50%;
}

.container {
  background: white;
  width: 500px;   /* This sets the width */
  margin: 0 auto;  /* This automatically sets left/right margins */
}

.card {
  background: #f1f9f9;
  border-radius: 10px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  text-align: center;
  border: 1px solid black;
}

.card-footer {
  background: #f1f9f9;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 4px;
  margin: 20px 0px;
  border-radius: 10px;
  border: 1px solid black;
  padding: none;
}

.card-animation {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  animation: myfirst 5s linear 2s infinite alternate;
}

@keyframes myfirst {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}

.list-inline > li {
  list-style: none;
  font-size: 50px;
  text-align: center;
  display: inline-block;
  padding: 0;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
  text-align: center;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
    background-color: green;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
    background-color: orange;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
    background-color: red;
  }
}
